<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../js/jquery.js"></script>
    <script src="../js/underscore.js"></script>
    <script src="../js/backbone.js"></script>
    <script src="../js/backbone.marionetter.js"></script>
</head>
<body>
<div id="content"></div>
<script type="text/template" id="my-view-template">
    <div class="row">
        <label>First Name: </label>
        <span><%= firstName %></span>
    </div>
    <div class="row">
        <label>Last Name: </label>
        <span><%= lastName %></span>
    </div>
    <div class="row">
        <label>E-mail: </label>
        <span><%= email %></span>
    </div>
</script>
<script>
    var Person = Backbone.Model.extend({
        defaults: {
            firstName: 'foo',
            lastName: 'bar',
            email: ''
        }
    });

    var MyView = Backbone.View.extend({
        el: '#content',
        template: $('#my-view-template').html(),
        render: function() {
            var compiledTemplate = _.template(this.template);

            var data = this.model.toJSON();
            var html = compiledTemplate(data);

            this.$el.html(html);
        }
    });

    var Derick = new Person({
        firstName: 'Derick',
        lastName: 'Bailey',
        email: 'derickbailey@example.com'
    });

    var myView = new MyView({
        model: Derick
    });

    myView.render();

    // $('#content').html(myView.el);
</script>
</body>
</html>